{% extends "template/template.twig" %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
    <style>
        @media (min-width: 992px){
            .modal-lg {
                max-width: 1075px;
            }
        }
    </style>
{% endblock %}
{% block content %}

    <div class="ed-container">
        <div class="ed-item s-100 l-50 l-offset-25">
            <div class="separator"></div>
            <form action="{{ path_for('firstsingin') }}" method="post">
                <div class="form-group">
                    <label for="">Nueva contraseña</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label for="">Confirmar contraseña</label>
                    <input type="password" name="password_confirmacion" class="form-control">
                </div>
                <div class="form-group">
                    <button class="centro btn bg_naranja text-white border-radius-all-25-px">Actualizar</button>
                </div>
                <input type="hidden" name="id" value="{{ auth.user.id }}">
            </form>
        </div>
    </div>
{% endblock %}