{% extends "template/template.twig" %}
{% block content %}
    <div class="ed-container">
        <div class="ed-item s-100 l-offset-15 l-70">
            <br>
            <h1 class="text-left text-info">Pagina no encontrada </h1>
        </div>
        <div class="separator"></div>
        <div class="ed-item s-100 l-offset-15 l-70">
            <h2>Volver a la pagina de <a href="{{ path_for('admin.home') }}">inicio.</a></h2>
        </div>
    </div>
{% endblock %}