<table id="table_result">
    <thead>
    <tr>
        <td>Código</td>
        <td>Nombre</td>
        <td>Institución</td>
    </tr>
    </thead>
    <tbody>
    {% for course in courses %}
        <tr>
            <td>{{ course.codigo }}</td>
            <td><a href="{{ path_for("admin.search.program.course.student", { 'id' : course.codigo} )}}">{{ course.nombre }}</a></td>
            <td>{{ getInstitution(course.codigo, 2) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $('table').DataTable({
        lengthMenu: [15, 25, 50, 75, 100 ],
        language: {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Registros por pagina: _MENU_ ",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "paginate": {
                "first":      "Primera",
                "last":       "Ultima",
                "next":       "Siguiente <i class='fa fa-angle-right'></i>",
                "previous":   "<i class='fa fa-angle-left'></i> Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
    });
</script>