<div class="modal fade bd-example-modal-lg" id="studentRegister" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><h3>Matriculas de <span id="name_student"></span></h3></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="content_student_register">
         
        </div>
    </div>
  </div>
</div>